body {
  padding-top: 50px;
}

.btn-primary {
  margin-bottom: 20px;
}

.progress {
  width: 400px;
}

.loud {
  font-weight: bold;
  color: #ED8000;
}

.feature {
  height: 200px;
  width: 300px;
}


// SASS styles

@import 'mixins.scss';

#page-a {
  .feature {
    background-image: url('http://us.123rf.com/450wm/Taiga/Taiga1203/Taiga120300060/12894073-autumn--gold-trees-in-a-park.jpg');
    background-size: contain;
  }
}

#page-b {
  .feature {
    background: url('http://us.cdn3.123rf.com/168nwm/taiga/taiga0901/taiga090100001/4188217-winter-landscape--horizontal--snow-forest--finland.jpg');
    background-size: contain;
  }
}
